{% block content %}
<!-- Navigation Bar -->
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light mb-3 py-4 border-bottom shadow p-4">
        <div class="container-sm">
            <a class="md:text-2xl font-bold flex items-center" href="/" >
                <span class="flex md:text-xl font-poppins dark:text-white text-gray-800">
                    <span class="font-semibold">&lt;/&gt;</span>
                    <span class="font-bold">CodeWithTD</span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
         </div>

        <div class="collapse navbar-collapse justify-content-end mx-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
        </div>
    </nav>
</header>

{% endblock %}
