{% extends 'base.html' %}

{% block title %} my work {% endblock %}

{% block content %}

<section class="mt-5">  <!-- Header section -->
    <div class="container pt-5">
        <div class="row gx-4 gx-lg-5 justify-content-center pt-5">
            <div class="col col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="site-heading">
                  <h3 class="display-4 fw-bold">TSERING DHARGYAL</h3>
                  <span class="subheading fs-5">Data analyst | Data Engineer</span><br><br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-4 pt-md-11 py-3">  <!-- About section -->
      <div class="container">
            <div class="row align-items-center">
              <div class="col-12 col-md-7 order-md-1">
                <h1>Hello!</h1>
                <!-- Text -->
                <p class="text-body-secondary mb-3">
                  "I am passionate and results-driven professional with expertise in data analysis,
                  data engineering, machine learning, and web development.
                  Skilled in transforming complex data into actionable insights, building scalable
                  data pipelines, and developing intelligent applications.
                  Experienced in research-driven projects, combining analytical
                  rigor with practical solutions to drive innovation and impact."
                </p>
                <a class="btn btn-outline-secondary" href="/portfolio">More about me</a><br><br>
              </div>
              <div class="col-12 col-md-5 order-md-2">
                <!-- Image -->
                <h4>My skill sets</h4>
                <div class="progress mb-2">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Python</div>
                </div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">SQL</div>
                </div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Tableau</div>
                </div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Machine learning</div>
                </div>
              </div>
            </div> <!-- / .row -->
      </div> <!-- / .container -->
</section>

<section>
    <div class="album py-5 bg-light">
      <div class="container">
        <h1>Portfolio</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pt-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/assets/img/product-engine.JPG" class="card-img-top" alt="Thumbnail">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/assets/img/product-cycle.png" class="card-img-top" alt="Thumbnail">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="static/assets/img/product-car.avif" class="card-img-top" alt="Thumbnail">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-outline-secondary" href="/portfolio">More projects</a><br><br>
      </div>
  </div>
</section>



{% endblock %}

