<section class="pt-5 pt-md-11 py-3 pt-5 ">  <!-- blog title section -->
      <div class="container pt-5">
            <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
              <!-- Project Title -->
              <div class="text-center mb-5">
                <h2 class="fw-bold">{{ heading }}</h2>
                <p>{{ subheading }}</p>
              </div>
            </div>
      </div> <!-- / .container -->
</section>


<section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for card in cards %}
        <div class="col mb-4">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename=card.image) }}" class="card-img-top" alt="Thumbnail">
            <div class="card-body">
              <p class="card-text">{{ card.description }}</p>
              {% for tag in card.tags %}
                <span class="badge bg-primary m-1">{{ tag }}</span>
              {% endfor %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mt-4">
                  <a class="btn btn-sm btn-outline-secondary" href="{{ card.link }}" target="_blank">{{ card.link_text }}</a>
                </div>
                <small class="text-muted">{{ card.time }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
